<iframe width="100%" height="500" src="https://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=208769555930261686109.0004d1cf8ba4477be0724&amp;t=m&amp;ll=41.574361,-98.085937&amp;spn=32.764022,70.3125&amp;z=4&amp;output=embed"></iframe>
<br /><small>View
    <a href="https://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=208769555930261686109.0004d1cf8ba4477be0724&amp;t=m&amp;ll=41.574361,-98.085937&amp;spn=32.764022,70.3125&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">Церкви МСЦ в США (International Union of Churches)</a>
    in a larger map</small>
<br>
<br>
<table border=1 class="church-table">
    <tr><td><h3>USA, West</h3></td></tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Деркач Павел<br>
            +1-916-247-6772</td>
        <td><a href="https://maps.google.com/maps?q=7635+Auburn+Blvd,+Citrus+Heights,+CA+95610&hl=en&ll=38.705138,-121.291358&spn=0.010164,0.01929&sll=38.705273,-121.29159&sspn=0.00064,0.001206&z=16">
            7635 Auburn Blvd, Citrus Heights, CA 95610</a></td>
        <td><a href="https://www.youtube.com/@SlavicBibleBaptistChurch/featured">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Станиславский Николай<br>
            +1-916-201-5033</td>
        <td><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=4659+Dry+Creek+road,+Sacramento,+CA+95838&amp;sll=38.638294,-121.416049&amp;sspn=0.01666,0.039911&amp;ie=UTF8&amp;ll=38.652204,-121.438408&amp;spn=0.033314,0.079823&amp;z=14&amp;iwloc=addr&amp;om=1">
            4659 Dry Creek Road, Sacramento, CA 95838</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Бальжик Вениамин<br>
            +1-916-801-2356</td>
        <td><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=3900+Astoria+street,+Sacramento,+CA+95838&amp;sll=37.0625,-95.677068&amp;sspn=34.587666,81.738281&amp;ie=UTF8&amp;ll=38.638294,-121.416049&amp;spn=0.01666,0.039911&amp;z=15&amp;iwloc=addr&amp;om=1">
            3900 Astoria Street, Sacramento, CA 95838</a></td>
        <td><a href="https://www.youtube.com/@independentbaptistchurch6063/featured">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Александр Борисович Сенцов<br>
            +1-916-868-7017</td>
        <td><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=2231+59th+Street,+Sacramento,+CA+95817&amp;sll=38.652204,-121.438408&amp;sspn=0.033314,0.079823&amp;ie=UTF8&amp;ll=38.552226,-121.436563&amp;spn=0.01668,0.039911&amp;z=15&amp;iwloc=addr&amp;om=1">
            2231 59th Street, Sacramento, CA 95817</a></td>
        <td><a href="https://59thchurch.com/">www.59thChurch.com</a><br>
            <a href="https://www.youtube.com/@59Street/featured">Youtube channel</a>
        </td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Дубинетский Авель<br>
            +1-916-224-9659</td>
        <td><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=map:+pinedale+ave,+sacramento,++ca&amp;sll=38.66028,-121.450467&amp;sspn=0.016722,0.039911&amp;ie=UTF8&amp;z=15&amp;iwloc=addr&amp;om=1">
            440 Pinedale Ave, Sacramento, CA 95838</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Пукасенко Александр Семёнович<br>
            +1-916-759-4918</td>
        <td>
            <a href="https://maps.google.com/maps?q=7140+Watt+Ave&ie=UTF8&hq=&hnear=7140+Watt+Ave,+North+Highlands,+California+95660&gl=us&ll=38.690333,-121.379871&spn=0.077713,0.154324&z=13">
                7140 Watt Ave, North Highlands, CA 95660</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Власов Павел Васильевич<br>
            +1-916-770-9776</td>
        <td>
            <a href="https://maps.google.com/maps?ll=38.5950365,-121.541615&z=15&q=1608+Lisbon+Ave,+West+Sacramento,+CA+95605,+USA&output=classic&dg=ntvo">
                1608 Lisbon Ave. West Sacramento, CA 95605</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Sacramento, CA</td>
        <td>Daniel Clark<br>
            +1-916-769-2411</td>
        <td>
            <a href="https://www.google.com/maps/place/3644+Bolivar+Ave,+North+Highlands,+CA+95660/@38.6931782,-121.3974423,13z/data=!4m6!3m5!1s0x809ad896e63fe5c3:0x8b599d8d3176c31!8m2!3d38.6820317!4d-121.3810701!16s%2Fg%2F11crrhrq32">
            3644 Bolivar Ave, North Highlands, CA 95660</a></td>
        <td>
            <a href="https://ebf.church/">EBF.Church</a>
        </td>
    </tr>

    <tr>
        <td>Fresno, CA</td>
        <td>Skvortsov Jacob<br>
            +1-916-617-6635</td>
        <td>
            <a href="https://www.google.com/maps/place/7407+N+Maple+Ave,+Fresno,+CA+93720/@36.8156012,-119.8264743,11.25z/data=!4m2!3m1!1s0x80945d2b7e0552c3:0x34e299013e2cdc28">
                7407 N Maple ave, Fresno, CA 93720</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Phoenix, AZ</td>
        <td>Романович Виктор Георгиевич<br>
            +1-520-635-0346</td>
        <td><a href="https://maps.google.com/maps?q=1801+E+Osborn+Rd,+Phoenix,+AZ+85016&hl=en&ll=33.358062,-111.75293&spn=1.008236,2.113495&hnear=1801+E+Osborn+Rd,+Phoenix,+Maricopa,+Arizona+85016&t=m&z=10">
            1801 E Osborn Rd, Phoenix, AZ 85016</a></td>
        <td><a href="https://RusChurch.org">RusChurch.org</a></td>
    </tr>

    <tr>
        <td>San Diego, CA</td>
        <td>Охотин Давид Владимирович<br>
            +1-858-345-7332</td>
        <td><a href="https://www.google.com/maps/place/6365+El+Apajo,+Rancho+Santa+Fe,+CA+92067/@32.9708372,-117.1823157,11z/data=!4m2!3m1!1s0x80dc08357adaae03:0xe573c6e74f3f3375">
            6365 El Apajo, Rancho Santa Fe, CA 92067<br>Room 300</a></td>
        <td></td>
    </tr>

    <tr><td><h3>USA, North-West</h3></td></tr>

    <tr>
        <td>Battle Ground, WA</td>
        <td>Нейман Константин Андреевич<br>
            +1-360-907-0399</td>
        <td><a href="https://www.google.com/maps/place/Slavic+Evangelical+Baptist+Church/@45.6836537,-122.7182496,13z/data=!4m15!1m8!3m7!1s0x5495ae9ac0c3e3bb:0xc7b5a920eed5a3b1!2s8802+NW+9th+Ave,+Vancouver,+WA+98665!3b1!8m2!3d45.6860072!4d-122.6805056!16s%2Fg%2F11c3q3t3_l!3m5!1s0x5495af33a09ac4b7:0xe4a3eccc1d124eef!8m2!3d45.6860135!4d-122.6805517!16s%2Fg%2F11tfx9sq_9">
            8802 NW 9th Ave, Vancouver, WA 98665</a>
        </td>
        <td><a href="https://www.youtube.com/@slavic-baptist-church-wa/streams">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Vancouver, WA</td>
        <td>Пастухов Григорий<br>
            +1-360-798-8160<br>
            Трухлинский Анатолий<br>
            +1-503-593-9477</td>
        <td><a href="https://maps.google.com/maps?q=7209+NE+131st+ave,+Vancouver,+WA+98682&hl=en&ll=45.626524,-122.422028&spn=0.422088,1.056747&sll=60.868987,-147.650757&sspn=2.350817,8.453979&hnear=7209+NE+131st+Ave,+Vancouver,+Clark,+Washington+98682,+United+States&t=m&z=11">
            7209 NE 131st ave, Vancouver, WA 98682</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Vancouver, WA</td>
        <td>Коротких Михаил<br>
            +1-503-816-1008</td>
        <td><a href="https://www.google.com/maps/place/16807+NE+Fourth+Plain+Blvd,+Vancouver,+WA+98682/@45.6717763,-122.5696205,12z/data=!4m6!3m5!1s0x5495b07e4c46fcab:0xa258a0ee7ee524ce!8m2!3d45.6717763!4d-122.4991964!16s%2Fg%2F11b8v68xsy">
            16807 NE Fourth Plain Blvd. Vancouver, WA 98682</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Camas, WA</td>
        <td>Косаван Алексей Иванович<br>
            +1-360-771-5578</td>
        <td><a href="https://maps.google.com/maps?q=25018+NE+25th+st,+Camas,+WA+98607&hl=en&ll=45.640928,-122.415504&spn=0.211951,0.528374&sll=45.626524,-122.422028&sspn=0.422088,1.056747&hnear=25018+NE+25th+St,+Camas,+Clark,+Washington+98607,+United+States&t=m&z=12">
            25018 NE 25th st, Camas, WA 98607</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Seattle, WA</td>
        <td>Бобровников Андрей<br>
            +1-763-300-9270</td>
        <td><a href="https://www.google.com/maps/place/233+S+156th+St,+Burien,+WA+98148/@47.4622744,-122.4699177,11z/data=!4m6!3m5!1s0x5490449ff01c0d41:0x9af70d988b5c5dbb!8m2!3d47.4622424!4d-122.3294548!16s%2Fg%2F11crqx2l0x">
            233 S 156th St, Burien, WA 98148</a></td>
        <td><a href="http://ecbchurchofseattle.org/">ecbChurchOfSeattle.org</a><br>
            <a href="https://www.youtube.com/@ecbcseattle/streams">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Everett, WA</td>
        <td>Цуман Виталий Петрович<br>
            +1-425-273-8298</td>
        <td><a href="https://www.google.com/maps/place/8704+3rd+Ave+SE,+Everett,+WA+98208/@47.9384604,-122.2942436,12z/data=!4m6!3m5!1s0x54900128fd761f43:0xa2c567dfb21bb62a!8m2!3d47.9184824!4d-122.2287762!16s%2Fg%2F11bw3_cvrj">
            8704 3rd AVE SE, Everett, WA 98208</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Spokane, WA</td>
        <td>Павел Бадулин<br>
            +1-509-981-7000</td>
        <td><a href="https://maps.google.com/maps?q=5116+W+Garden+Springs+rd,+Spokane,+WA+99224&hl=en&ll=47.632545,-117.485733&spn=0.101682,0.264187&sll=47.379057,-122.178955&sspn=0.204349,0.528374&hnear=5116+W+Garden+Springs+Rd,+Spokane,+Washington+99224,+United+States&t=m&z=13">
            5116 W Garden Springs rd, Spokane, WA 99224</a>
            </td>
        <td><a href="https://www.youtube.com/@graceslavicbaptistchurchsp9754/videos">Youtube channel</a>
        </td>
    </tr>

    <tr>
        <td>Soap Lake, WA</td>
        <td>Горбунов Владимир<br>
            +1-425-772-1624<br>
            Новиков Фёдор<br>
            +1-509-398-6142
        </td>
        <td><a href="https://www.google.com/maps/place/319+5th+Ave+SE,+Soap+Lake,+WA+98851/@47.3860988,-119.4920231,14z/data=!4m5!3m4!1s0x5499584beab8e843:0xc082011484ecdf01!8m2!3d47.3845693!4d-119.4836912">
            319 SE 5th Ave, Soap Lake, WA 98851</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Walla Walla, WA</td>
        <td>Ромадин Владимир Ильич<br>
            +1-509-520-6246</td>
        <td><a href="https://maps.google.com/maps?q=1132+S+2nd+Ave,+Walla+Walla,+WA+99362,+United+States&hl=en&ll=46.043808,-118.291855&spn=0.105211,0.264187&sll=46.053501,-118.331235&hnear=1132+S+2nd+Ave,+Walla+Walla,+Washington+99362,+United+States&t=m&z=13">
            1132 S 2nd ave, Walla Walla, WA 99362</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Portland, OR</td>
        <td>Пауль Юрий<br>
            +1-360-608-5871<br>
            Чекан Василий Иванович<br>
            +1-503-209-1319</td>
        <td><a href="https://maps.google.com/maps?q=7950+SE+62nd+ave,+Portland,+OR+97206&hl=en&ll=45.46591,-122.599869&spn=0.425222,1.056747&sll=45.466090,-122.599606&hnear=7950+SE+62nd+Ave,+Portland,+Oregon+97206,+United+States&t=m&z=11">
            7950 SE 62nd ave, Portland, OR 97206</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Portland, OR</td>
        <td>Головин Сергей Михайлович<br>
            +1-503-810-5840</td>
        <td><a href="https://www.google.com/maps/place/5309+SE+115th+Ave,+Portland,+OR+97266/@45.4626507,-122.5289917,11z/data=!4m2!3m1!1s0x54959f7fbfee9203:0x9ab31c4df53857c1">
            5309 SE 115th ave, Portland, OR 97266</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Salem, OR</td>
        <td>Озеров Андрей Иванович<br>
            +1-503-510-0863</td>
        <td><a href="https://www.google.com/maps/place/7625+Sunnyside+Rd+SE,+Salem,+OR+97306,+USA/@44.8440106,-123.0557357,13z/data=!4m5!3m4!1s0x54c00634886f7399:0x5764c280eef1e35c!8m2!3d44.8452011!4d-123.0276154">
            7625 Sunnyside Rd SE, Salem, OR 97306</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Kalispell, MT</td>
        <td>Шелко Иван Петрович<br>
            +1-406-751-8417</td>
        <td><a href="https://www.google.com/maps/place/902+1st+Ave+E,+Kalispell,+Mt+59901/@48.1749312,-114.278466,12z/data=!4m2!3m1!1s0x536650c2c3620beb:0x4f5539c5d3f86126?hl=en">
            902 1st Ave E, Kalispell, MT 59901</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Boise, ID</td>
        <td>Рыжук Александр<br>
            +1-916-903-2931</td>
        <td><a href="https://www.google.com/maps/place/1846+N+Dawn+Pl,+Boise,+ID+83713/@43.6272932,-116.3966395,12z/data=!4m6!3m5!1s0x54ae5431fd29d16f:0xce5bd7a2b8fb8158!8m2!3d43.6214063!4d-116.3304318!16s%2Fg%2F11c4jt5xrq">
            1846 N Dawn Pl, Boise, ID 83713</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Salt Lake City, Utah</td>
        <td>Беньковский Андрей Леонидович<br>
            +1-801-556-0288</td>
        <td><a href="https://maps.google.com/maps?q=2065+E+6200+S,+Salt+Lake+City,+UT+84121&hl=en&ll=40.638446,-111.832237&spn=0.229001,0.528374&sll=40.638511,-111.832334&sspn=0.007156,0.016512&hnear=2065+E+6200+S,+Salt+Lake+City,+Utah+84121,+United+States&t=m&z=12">
            2065 E 6200 S, Salt Lake City, UT 84121</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Wasilla, Alaska</td>
        <td>Гирич Александр Леонидович<br>
            +1-907-315-7177</td>
        <td><a href="https://maps.google.com/maps?q=8350+W+Sunset+ave,+Wasilla,+AK+99654&hl=en&ll=61.49387,-149.469681&spn=0.288051,1.056747&sll=61.523022,-149.566498&sspn=0.287781,1.056747&hnear=8350+Sunset+Ave,+Wasilla,+Alaska+99654,+United+States&t=m&z=11">
            8350 W Sunset ave, Wasilla, AK 99654</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Skamokawa, WA</td>
        <td>Голдинов Пётр Семёнович<br>
            +1-360-907-4744</td>
        <td><a href="https://www.google.com/maps/place/558+E+Valley+Rd,+Skamokawa+Valley,+WA+98647/@46.2946349,-123.4538524,13z/data=!4m6!3m5!1s0x5493866d1e084ea9:0x864a55d4deaa2983!8m2!3d46.2946312!4d-123.4184419!16s%2Fg%2F11f54j_1y3">
            558 E Valley Rd, Skamokawa, WA 98647</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Vancouver, Canada</td>
        <td>Кайдалов Давид<br>
            +1-360-201-0915</td>
        <td><a href="https://www.google.com/maps/place/Peace+Arch+Historical+State+Park/@48.9919978,-122.8226517,12z/data=!4m6!3m5!1s0x5485c407a9180e09:0x8f8023ed6c3cfee4!8m2!3d49.0018105!4d-122.7534185!16s%2Fg%2F11gglt4x_d">
            Peace Arch Historical State Park</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Grande Prairie, Canada</td>
        <td>Александр Александрович Андриец<br>
            +1-250-263-5903</td>
        <td><a href="https://www.google.com/maps/place/10913+107+Ave,+Grande+Prairie,+AB+T8V+7P9,+Canada/@55.122917,-119.8460072,9z/data=!4m6!3m5!1s0x5390915bffbc37dd:0xcfd9cd3834b86a77!8m2!3d55.1763963!4d-118.8240104!16s%2Fg%2F11c5j8ncfj">
            10913 107 Ave, Grande Prairie, AB T8V 7P9</a>
        </td>
        <td></td>
    </tr>



    <tr><td><h3>USA, Center</h3></td></tr>

    <tr>
        <td>Denver, Colorado</td>
        <td>Науменко Владимир<br>
            +1-303-748-3406</td>
        <td><a href="https://maps.google.com/maps?q=8235+W+44th+ave,+Wheat+Ridge,+CO+80033&hl=en&ll=39.777408,-105.089035&spn=0.465967,1.056747&sll=39.777229,-105.089462&hnear=8235+W+44th+Ave,+Wheat+Ridge,+Jefferson,+Colorado+80033,+United+States&t=m&z=11">
            8235 W 44th ave, Wheat Ridge, CO 80033</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Minneapolis, Minnesota</td>
        <td>Сергей Библенко<br>
            +1-952-239-4314</td>
        <td><a href="https://www.google.com/maps/place/7570+210th+St+W,+Lakeville,+MN+55044/@44.6447479,-93.5005307,10z/data=!4m5!3m4!1s0x87f64832f4a49993:0xc60bd59a04e7e266!8m2!3d44.6447479!4d-93.2203794">
            7570 210th St W, Lakeville, MN 55044</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Minneapolis, Minnesota</td>
        <td>Бутков Пётр<br>
            +1-916-430-1212</td>
        <td><a href="https://www.google.com/maps/place/3655+Togo+Rd,+Wayzata,+MN+55391,+USA/@44.9292377,-93.8392057,10z/data=!4m5!3m4!1s0x87f60283fa9e2135:0xe7cb05193318688!8m2!3d44.9387165!4d-93.616121">
            3655 Togo rd, Wayzata, MN 55337</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Chicago, IL</td>
        <td>Андрей Охотин<br>
            +1-617-548-6880</td>
        <td><a href="https://www.google.com/maps/place/123+N+Plum+Grove+Rd,+Palatine,+IL+60067,+USA/@42.0123773,-88.0401268,11z/data=!4m5!3m4!1s0x880fa4f0595ffd27:0xc88cec5a8ff3944f!8m2!3d42.1126239!4d-88.0434152">
            123 N Plum Grove Road, Palatine, IL 60067</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Chicago, IL</td>
        <td>Сыротюк Владимир<br>
            +1-718-413-0124<br>
            Леонид Русавук<br>
            +1-509-768-1995</td>
        <td><a href="https://www.google.com/maps/place/611+W+St+Charles+Rd,+Lombard,+IL+60148/@41.8878952,-88.1753084,11z/data=!4m6!3m5!1s0x880e52c134f47ded:0x2462df18a53b06f6!8m2!3d41.8878669!4d-88.0348401!16s%2Fg%2F11bw42kmmg">
            611 W St Charles Rd, Lombard, IL 60148</a></td>
        <td><a href="https://www.youtube.com/@danila558/videos">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Mishawaka, Indiana</td>
        <td>Русавук Леонид<br>
            +1-509-768-1995</td>
        <td><a href="https://www.google.com/maps/place/320+E+4th+St,+Mishawaka,+IN+46544,+USA/@41.6547596,-86.3348524,10.78z/data=!4m5!3m4!1s0x8816cdd5048b4579:0xe1f4fb012848f9fe!8m2!3d41.6594268!4d-86.1773614">
            320 E 4th Street, Mishawaka, IN 46544</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Lincoln, Nebraska</td>
        <td>Солохин Вениамин<br>
            +1-402-890-8181</td>
        <td><a href="https://maps.google.com/maps?q=1324+New+Hampshire+St,+Lincoln,+NE+68508,+USA&ll=40.82628,-96.70166&spn=0.112359,0.154324&hnear=1324+New+Hampshire+St,+Lincoln,+Nebraska+68508,+United+States&t=m&z=13">
            1324 New Hampshire, Lincoln, NE 68521</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Houston, Texas</td>
        <td>Alex Pikalov<br>
            +1-832-432-4163</td>
        <td><a href="https://www.google.com/maps/place/6411+FM+1960,+Humble,+TX+77338/@30.0115941,-95.4676603,11z/data=!4m6!3m5!1s0x8640b48c0d3cccbf:0xf93c7adbf8114e3a!8m2!3d30.0115694!4d-95.3271918!16s%2Fg%2F11c28jwsny">
            6411 FM 1960, Humble, TX 77338</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Sedalia, Missouri</td>
        <td>Моднов Александр<br>
            +1-916-695-3040</td>
        <td><a href="https://www.google.com/maps/place/510+W+Johnson+St,+Sedalia,+MO+65301/@38.7127555,-93.2547888,12.71z/data=!4m5!3m4!1s0x87c385b9a2fd08dd:0x171af9b8c20f0347!8m2!3d38.7171118!4d-93.2305009">
            510 W Johnson St, Sedalia, MO</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Ozark, Missouri</td>
        <td>Косаван Константин Иванович<br>
            +1-360-601-5068</td>
        <td><a href="https://www.google.com/maps/place/957+Canyon+Ln,+Nixa,+MO+65714/@37.0052826,-93.369429,12z/data=!4m6!3m5!1s0x87cf6ef6050694db:0xd58320ac9ae12302!8m2!3d37.0216797!4d-93.2991015!16s%2Fg%2F11c1yghdp7">
            957 Canyon Ln, Nixa, MO, 65714</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Kansas City, Kansas</td>
        <td>Дресвянников Сергей Павлович<br>
            +1-913-406-5408</td>
        <td><a href="https://www.google.com/maps/place/Slavic+Baptist+Church/@39.0348709,-94.8369552,11z/data=!4m15!1m8!3m7!1s0x87c0ed752397b129:0xb86f936ed650fb37!2s8820+W+49th+St,+Shawnee,+KS+66203!3b1!8m2!3d39.040671!4d-94.6885325!16s%2Fg%2F11bw4pplx4!3m5!1s0x87c0ed1dfbde34bb:0xdce403a8710bdf4b!8m2!3d39.0406744!4d-94.6885556!16s%2Fg%2F11rl4l0xyj">
            8820 W 49th st, Shawnee, KS 66203</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Nashville, TN</td>
        <td>Огородник Константин<br>
            +1-615-335-0898</td>
        <td><a href="https://www.google.com/maps/place/3183+US-431,+Spring+Hill,+TN+37174/@35.7124268,-86.9766717,11z/data=!4m6!3m5!1s0x88638345c582dc07:0x6863b256a715b5ce!8m2!3d35.7124268!4d-86.8362098!16s%2Fg%2F11c1_cvq7h">
            3183 US-431, Spring Hill, TN 37174</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Altona, MB, Canada</td>
        <td>Daniel Schaefer<br>
            +1-204-384-7777</td>
        <td><a href="https://www.google.com/maps/place/6153+MB-306,+Plum+Coulee,+MB+R0G+1R0,+Canada/@49.1034707,-97.7507165,12z/data=!4m5!3m4!1s0x52c3cb6123030817:0xf6074f8b224c66f0!8m2!3d49.077425!4d-97.7513733">
            6153 PR 306, Plum Coulee, MB, Canada</a><br>
            Intersection of Hwy 201 & 306
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Winkler, MB, Canada</td>
        <td>Гирич Юрий<br>
            +1-431-554-1333</td>
        <td><a href="https://www.google.com/maps/place/295+8+St,+Winkler,+MB,+Canada/@49.1815554,-98.0135301,12z/data=!4m6!3m5!1s0x52c24965b149d1d5:0x5300d73d48641c33!8m2!3d49.1815554!4d-97.943106!16s%2Fg%2F11stthmf2h">
            295 Eighth Street, Winkler, MB R6W 0M1, Canada</a>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Steinbach, MB, Canada</td>
        <td>Гирич Павел<br>
            +1-204-408-3414</td>
        <td><a href="https://www.google.com/maps/place/Berg+Dr,+Hanover,+MB+R5G+2L5,+Canada/@49.5062342,-96.8502208,12z/data=!4m6!3m5!1s0x52c1ca96a22e1d3f:0x36003d5c45e7811a!8m2!3d49.5062342!4d-96.7797967!16s%2Fg%2F1tflrnpj">
            21 Berg Dr, Mitchell, MB R5G 2L5, Canada</a>
        </td>
        <td></td>
    </tr>




    <tr><td><h3>USA, East</h3></td></tr>

    <tr>
        <td>Philadelphia, Pennsylvania</td>
        <td>Борис Щербина<br>
            +1-267-939-2537</td>
        <td><a href="https://www.google.com/maps/place/4055+Davisville+Rd,+Hatboro,+PA+19040/@40.1499763,-75.2291888,10.72z/data=!4m5!3m4!1s0x89c6ae14fc10a3d7:0x8f9a54da8a866f6b!8m2!3d40.1670041!4d-75.0813276">
            4055 Davisville Rd, Hatboro, PA 19040</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Lititz, Pennsylvania</td>
        <td>Кулаков Николай<br>
            +1-610-733-1745</td>
        <td><a href="https://www.google.com/maps/place/642+Temperance+Hill+Rd,+Lititz,+PA+17543/@40.1576344,-76.2032775,10z/data=!4m2!3m1!1s0x89c618984c366a01:0xd34a66352dad8f79">
            642 Temperance Hill Road, Lititz, PA 17543</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Harrisburgh, Pennsylvania</td>
        <td>Савчук Роман<br>
            +1-267-463-8728</td>
        <td><a href="https://www.google.com/maps/place/100+Floral+Ln,+Dauphin,+PA+17018/@40.3655805,-77.1039252,11z/data=!4m6!3m5!1s0x89c8c5f9e8a70551:0x1de6abd8a16daec8!8m2!3d40.372218!4d-76.9289701!16s%2Fg%2F11csgg5fyp">
            100 Floral Ln, Dauphin, PA 17018</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Reinholds, Pennsylvania</td>
        <td>Филиппов Андрей<br>
            +1-717-803-9683</td>
        <td><a href="https://maps.google.com/maps?q=930+Pennsylvania+897,+Reinholds,+PA+17569&hl=en&ll=40.216635,-75.942993&spn=0.963705,2.113495&sll=40.280841,-76.144362&sspn=0.007555,0.016512&gl=ca&hnear=930+Pennsylvania+897,+West+Cocalico,+Lancaster,+Pennsylvania+17569,+United+States&t=m&z=10">
            930 Pennsylvania 897, Reinholds, PA 17569</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Pittsburgh, Pennsylvania</td>
        <td>Шейко Александр Леонидович<br>
            +1-412-977-1282</td>
        <td><a href="https://www.google.com/maps/place/935+Pine+Ave,+Pittsburgh,+PA+15234,+USA/@40.3679005,-80.0451268,13z/data=!4m5!3m4!1s0x8834f758636af489:0xdd28b3a0a881f048!8m2!3d40.3662452!4d-80.0224675">
            935 Pine Ave, Pittsburgh, PA 15234</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Washington, Pennsylvania</td>
        <td>Шейко Павел<br>
            +1-412-334-4263</td>
        <td><a href=https://www.google.com/maps/place/1068+Linden+Rd,+Eighty+Four,+PA+15330/@40.234174,-80.1812541,12z/data=!4m6!3m5!1s0x8834ff8912405817:0x3192b1c55ca744fb!8m2!3d40.2367949!4d-80.0945973!16s%2Fg%2F11c3q3rn_p">
            1068 Linden Rd, Eighty Four, PA 15330</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Southwick, Massachusetts</td>
        <td>Чепуренко Василий<br>
            +1-413-388-0078</td>
        <td><a href="https://maps.google.com/maps?q=261+College+Hwy,+Southwick,+MA,+United+States&hl=en&ll=42.019713,-72.656708&spn=0.426459,1.056747&sll=42.000835,-72.631302&sspn=0.426586,1.056747&oq=261+College+Hgwy,+s&hnear=261+College+Hwy,+Southwick,+Massachusetts+01077&t=m&z=11">
            261 College Hwy, Southwick, MA 01077</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Westfield, Massachusetts</td>
        <td>Вдовиченко Виталий<br>
            +1-413-579-2678</td>
        <td><a href="https://maps.google.com/maps?q=297+Russell+rd,+Westfield,+MA+01085&hl=en&ll=42.122419,-72.745628&spn=0.223834,0.528374&sll=42.019713,-72.656708&sspn=0.426459,1.056747&hnear=297+Russell+Rd,+Westfield,+Hampden,+Massachusetts+01085&t=m&z=12">
            297 Russell rd, Westfield, MA 01085</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Brooklyn, New York</td>
        <td>Григоренко Павел<br>
            +1-267-242-9575</td>
        <td><a href="https://maps.google.com/maps?q=1009+Brighton+Beach+Ave,+Brooklyn,+NY+11235&ll=40.578499,-73.958588&spn=0.479273,1.056747&hnear=1009+Brighton+Beach+Ave,+Brooklyn,+Kings,+New+York+11235,+United+States&gl=ca&t=m&z=11">
            1009 Brighton Beach Ave, Brooklyn, NY 11235</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Abbeville, South Carolina</td>
        <td>Fursov Slavik<br>
            +1-916-743-8791</td>
        <td><a href="https://www.google.com/maps/place/1800+US-178,+Honea+Path,+SC+29654/@34.4255211,-82.5273936,11z/data=!4m6!3m5!1s0x885805606bf0b71d:0x5261bc0940b31ae2!8m2!3d34.4255167!4d-82.3869263!16s%2Fg%2F11c4k87yt6">
            1800 US-178, Honea Path, SC 29654, USA</a></td>
        <td><a href="https://gsbc-sc.org/">gsbc-sc.org</a></td>
    </tr>

    <tr>
        <td>Greenville, South Carolina</td>
        <td>Ионов Валентин<br>
            +1-864-497-4166<br>
            Снегирёв Вадим<br>
            +1-864-800-2610
        </td>
        <td><a href="https://www.google.com/maps/place/652+Old+Grove+Rd,+Piedmont,+SC+29673,+USA/@34.7798132,-82.4523911,13z/data=!4m5!3m4!1s0x88583aef7293e36f:0xd7f5e36390fbe379!8m2!3d34.770961!4d-82.4177799">
            652 Old Grove Rd, Piedmont, SC 29673</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Charlotte, North Carolina</td>
        <td>Ильнитский Олег Николаевич<br>
            +1-704-497-2034</td>
        <td><a href="https://www.google.com/maps/place/12021+Flowes+Store+Rd,+Midland,+NC+28107/@35.250524,-80.7125947,11z/data=!4m5!3m4!1s0x885416f190fa59fd:0x59fb6e302ea4fb29!8m2!3d35.250524!4d-80.572519">
            12021 Flowes Store Rd, Midland, NC 28107</a></td>
        <td><a href="https://www.youtube.com/@GLBC2016/featured">Youtube channel</a></td>
    </tr>

    <tr>
        <td>Monroe, North Carolina</td>
        <td>Бабенко Александр<br>
            +1-980-777-0630</td>
        <td>Monroe, NC</td>
        <td></td>
    </tr>

    <tr>
        <td>Atlanta, Georgia</td>
        <td>Сирица Сергей<br>
            +1-470-702-5026</td>
        <td><a href="https://www.google.com/maps/place/House+of+Prayer+(Russian+Speaking+Church)/@33.9164862,-84.3009948,11z/data=!4m16!1m9!3m8!1s0x88f5a45e6551e1c5:0xb514ab25ab43df89!2s656+Indian+Trail+Lilburn+Rd+NW,+Lilburn,+GA+30047!3b1!8m2!3d33.9010914!4d-84.1480068!10e3!16s%2Fg%2F11b8yf0vhn!3m5!1s0x88f5a45e6579b573:0xbc25b846c4910abe!8m2!3d33.901033!4d-84.1481035!16s%2Fg%2F11gd1tr5wq">
            656 Indian Trail Lilburn Rd NW, Lilburn, GA 30047</a></td>
        <td>
            <a href="https://www.youtube.com/@atlanta.church">Youtube channel</a><br>
            <a href="https://t.me/AtlantaChurch">Telegram channel</a>
        </td>
    </tr>

    <tr>
        <td>Harrisonburg, Virginia</td>
        <td>Уваров Владимир<br>
            +1-540-908-8940<br>
            Бровер Александр Яковлевич<br>
            +1-540-209-4489
        </td>
        <td><a href="https://www.google.com/maps/place/9007+Rawley+Pike,+Harrisonburg,+VA+22831/@38.3504746,-78.9557265,10z/data=!4m2!3m1!1s0x89b4eaa1e29f20f3:0xc15928f71c5256d">
            9007 Rawley Pike, Harrisonburg, VA 22802</a></td>
        <td></td>
    </tr>

    <tr>
        <td>North Port, Florida</td>
        <td>Казимиров Геннадий</td>
        <td><a href="https://www.google.com/maps/place/20225+Kenilworth+Blvd,+Port+Charlotte,+FL+33954/@27.023911,-82.116307,12z/data=!4m2!3m1!1s0x88dca942aff25373:0x3a8ab6b021ed540c">
            20225 Kenilworth Blvd, Port Charlotte, FL 33954</a></td>
        <td></td>
    </tr>

    <tr>
        <td>St Petersburg, Florida</td>
        <td>Владимир Дуденков<br>
            +1-727-793-4915</td>
        <td><a href="https://www.google.com/maps/place/5000+38th+Ave+N,+St.+Petersburg,+FL+33710/@27.806121,-82.7727173,12z/data=!4m6!3m5!1s0x88c2e3727800d7a3:0xf4e05dcc7a6867de!8m2!3d27.8061151!4d-82.7022929!16s%2Fg%2F11crrhddhk">
            5000 38th Ave N, St. Petersburg, FL 33710</a></td>
        <td></td>
    </tr>

    <tr>
        <td>Niagara Falls, Ontario, Canada</td>
        <td>Станислав Апончук<br>
            +1-716-313-3699</td>
        <td><a href="https://www.google.com/maps/place/Chippawa+Presbyterian+Church/@43.0884754,-79.1489212,10.88z/data=!4m6!3m5!1s0x89d342468ec70d61:0x6d934abf0aeeea9!8m2!3d43.0583277!4d-79.0493228!16s%2Fg%2F1wn_7278">
            8280 Willoughby Dr, Niagara Falls, ON L2G 6W2, Canada</a></td>
        <td><a href="https://niagara-church.org/">niagara-church.org</a></td>
    </tr>



    <tr><td><h3>Миссии</h3></td></tr>

    <tr>
        <td>Awakening Christian Mission (работают с Кубой)</td>
        <td>+1-855-366-6656</td>
        <td>PO BOX 202098, Bloomington, MN 55420, USA</td>
        <td><a href="http://awakeningmission.org/">AwakeningMission.org</a></td>
    </tr>

    <tr>
        <td>Коста Рика: Славянская Библейская Церковь "Дом Евангелия"</td>
        <td>Алексей Савостин<br>+506 6253 1626</td>
        <td><a href="https://maps.app.goo.gl/8GDAJZxh3pqDLigw9">WW53+7X5, Umara, San José, San Sebastian, Costa Rica</a></td>
        <td><a href="https://www.youtube.com/watch?v=j0n0lz63WpY">Приглашение</a></td>
    </tr>    

    <tr>
        <td>Redemption Evangelistic Ministries</td>
        <td>Охотин Даниил Владимирович<br>
            +1-360-852-7953</td>
        <td>PO Box 26307, San Diego, CA 92196, USA</td>
        <td><a href="https://missionrem.org/ru/">MissionREM.org</a></td>
    </tr>

    <tr>
        <td>Voice of Peace</td>
        <td></td>
        <td>PO Box 92123, Portland, OR 97292, USA</td>
        <td></td>
    </tr>

</table>
